<h2>Заказы</h2>
@using PlumbingShop_V2.Models
<table class="table">
    <thead>
        <tr>

            <th>Название</th>
            <th>Количесвто</th>
            <th>Цена</th>
            <th>Сумма по позиции</th>
            <th>Email</th>
            <th>ФИО</th>
            <th>Телефон</th>

        </tr>
    </thead>
    <tbody>

    @foreach (Basket b in ViewBag.Basket)
    {
        using (Html.BeginForm("BSKTSHW", "Home", FormMethod.Post))
        {
    <input hidden value="@ViewBag.category" name="category" />
                <tr>
                    <input hidden value="@b.Id" name="Id" />
                    
                    <td> @b.Name</td>
                    <td>@b.Count</td>
                    <td>@b.Price</td>
                    <td>@b.SumPrice</td>
                    <td>@b.Email</td>
                    <td>@b.BuerName</td>
                    <td>@b.Phone</td>
                    
                    <td><input type="submit" value="Изменить статус заказа"/></td>
                </tr>
            }

        }
    </tbody>
</table>